body
{
    background-color: #a7a9ab;
    color: #FFFFFF;
}



.typewriter h1
{
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

#window_message
{
    position: relative;
    color: #008000;
    font-family: monospace;
    font-size: 18px;
    left: 200px;
    top: -600px;
    opacity: 0.6;
    z-index: 999;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes move-twink-back
{
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back
{
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back
{
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back
{
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-planet-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-planet-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-planet-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-planet-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .planet
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars
{
  background:#000 url(../images/stars.png) repeat top center;
  z-index:0;
}

.twinkling
{
  background:transparent url(../images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

.planet{
    background:transparent url(../images/planet.png) repeat top center;
    z-index:3;

  -moz-animation:move-planet-back 200s linear infinite;
  -ms-animation:move-planet-back 200s linear infinite;
  -o-animation:move-planet-back 200s linear infinite;
  -webkit-animation:move-planet-back 200s linear infinite;
  animation:move-planet-back 200s linear infinite;
}
